[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/justskiv-loveit"]
	path = themes/justskiv-loveit
	url = https://github.com/justskiv/LoveIt.git
