.post-author {
  display: none !important;
}

.post-category a i {
  margin-right: 2px;
}

// Post meta
.post-meta {
  background-color: rgba(1, 1, 1, .1);
  padding: 8px;
  border-radius: 5px;
}
.page.single .post-meta {
  margin-top: 20px;
  margin-bottom: 30px;
}

.post-meta-line {
  margin-bottom: 4px !important;
}

// Color of the secondary text
$global-font-secondary-color: #565656;
$global-font-secondary-color-dark: #a2a2a2;

// Tags
.tag-cloud-tags a {
  background-color: rgba(1, 1, 1, .2) !important;
  padding: 8px !important;;
  border-radius: 4px !important;;
}

.tag-cloud-tags a:hover {
  background-color: rgba(1, 1, 1, .4) !important;
}

// links
$single-link-color: #777777;
$single-link-color-dark: #777777;

// Color of the hover single link
$single-link-hover-color: #282828;
$single-link-hover-color-dark: #bdebfc;

// Code blocks
$code-background-color-dark: #2d2d2d;

// blockquote

$blockquote-color: #777777;
$blockquote-color-dark: #777777;

blockquote {
  display: block;
  border-left: .3rem solid rgba($blockquote-color-dark, .7) !important;
  background-color: rgba($blockquote-color, .08) !important;
  color: #525252;
  padding: .25rem .75rem;
  margin: 1rem 0;

  [theme=dark] & {
    color: #989898;
    border-left-color: $blockquote-color-dark;
    background-color: rgba($blockquote-color-dark, .05) !important;
  }
}

blockquote::before {
  quotes: "“" "“";
  font-family: 'Roboto', serif;
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .01em;
  margin-right: .25em;
  vertical-align: -.4em;
}

// header

.single .content > h2 > .header-mark::before {
  //color: #0d0a0a !important;
  //content: "#" !important;
  //display: none;
  //text-decoration: dotted 2px black !important;
  text-decoration: none;
}

.single .content > h2:hover > .header-mark::before {
  //display: inline !important;
  border-bottom: 1.5px dotted #777777;
  opacity: 0.7;
}

// admonition

.single .content .admonition.success {
  background-color: rgba(0, 200, 83, 0.05) !important;
  //border-left-color: #00c853;
  border-left-color: rgba(0, 200, 83, 0.3) !important;
}

.single .content .admonition.success.open .admonition-title {
  background-color: rgba(0, 200, 83, 0.08) !important;
}

// animation

h1.animate__animated {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
}

.highlight .animate__animated {
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
}